* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}

.btn {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 13px 18px;
    background-color: #f39c12;
    border-radius: 8px;
    border: 2px solid #f39c12;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #f39c12;
    background: transparent;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: lightgray;
    justify-content: center;
    gap: 10px;
}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 15px;
}

.footer-container {
    display: block;
}

.footer-img {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

