* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}

.btn {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 13px 18px;
    background-color: #f39c12;
    border-radius: 8px;
    border: 2px solid #f39c12;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #f39c12;
    background: transparent;
}

header {
    position: relative;
    height: 141px;
    top: 0px;
    background: url(118089.png);
    background-color: black;
}

.logo-name {
    margin: 0;
    font-family: 'Penguin';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #F5EDED;
}

.test {
    position: relative;
    height: 100vh;
    background-color: aqua;
}