* {
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
    z-index: 999;
}

.btn {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 13px 18px;
    background-color: #f39c12;
    border-radius: 8px;
    border: 2px solid #f39c12;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #f39c12;
    background: transparent;
}

header {
    position: relative;
    padding: 0 0.7rem 1rem 0.7rem;
    top: 0px;
    background: url(../Assets/Clavier2.webp) no-repeat center center/cover;
    background-color: black;
    color: #F5EDED;
}

.header {
    display: flex;
    flex-direction: column;
}

.header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_bot {
    display: flex;
    align-items: center;
}

.logo-name {
    margin: 0;
    padding: 0;
    font-family: 'Penguin';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #F5EDED;
}

.logo-img {
    width: 100px;
}

.logo {
    margin: 0;
    padding: 0;
    font-size: x-large;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo a {
    color: #F5EDED;
}

.navbar_link {
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.navbar_link a {
    color: #F5EDED;
}

.test {
    position: relative;
    height: 100vh;
    background-color: aqua;
}


.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgray;
    justify-content: space-around;
    gap: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title {
    font-size: 20px;
}

.subtitle {
    font-size: 15px;
}

.footer-container {
    display: block;
}

.footer-img {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

#footer-img {
    width: 50%;
}
