.carrousel{
    position: relative;
    display: flex;
    flex-direction: row;

    width: 70%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.background-carrousel{
    background: url("../Assets/carrouselbg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-carrousel{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.image-carrousel-on{
    width: 100%;
    animation: SlideIn 1s;
}

.image-carrousel-off{
    width: 0%;
    animation: SlideOut 1s;
}

@keyframes SlideIn {
    0% {
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}

@keyframes SlideOut {
    0% {
        width: 100%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 0%;
    }
}

#Clavier1{
    background-image: url("../Assets/Clavier1.webp");
}

#Clavier2{
    background-image: url("../Assets/Clavier2.webp");
}
#Clavier3{
    background-image: url("../Assets/Clavier3.jpg");
}
#Clavier4{
    background-image: url("../Assets/Clavier4.jpg");
}

.carrousel-btn-div{
    position: absolute;
    min-width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 3rem;
    gap: 0.7rem;
    bottom: 0;
}

.carrousel-btn{
    width: 10%;
    height: 1px;
}


.carrousel-btn-off{
    border-color: rgba(0, 0, 0, 0.250);
    background-color: rgba(255, 255, 255);
}

.carrousel-btn-on{
    border-color: rgba(0, 0, 0, 0.250);
    background-color: aqua;
}


.best-offers {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-evenly;
}

.offers {
    padding: 1%;
}

.offers-product:hover {
    scale: 1.2;
}


.offers-compare {
    color: white;
    text-decoration: none;
    float: right;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
}
.offers-title {
    font-size: 25px;
    letter-spacing: -2px;
    justify-content: left;
    text-transform: uppercase;
    height: 70px;
}

.offers-product {
    background-color: rgb(55, 55, 197);
}

.offers-img {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    aspect-ratio: 3;
}

.offers-model { 
    color: white;
    font-size: 20px;
    padding-bottom: 5%;
}

@media (max-width: 800px) {
    .best-offers {
        display: grid;
        grid-template-columns: 50% 50% ;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: space-evenly;
    }
}

@media (max-width: 650px) {
    .best-offers {
        display: grid;
        grid-template-columns: 100% ;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: space-evenly;
    }
}

.best-offers-bg {
    background: url("../Assets/bestofferbg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

